.cms-container {
  color: var(--cms-text-colour);
  overflow: hidden;
}

.cms-content-header {
  background-color: var(--cms-background-colour--dark);
  border-bottom-color: var(--cms-border-colour);
}

.cms-content,
.cms-panel-content {
  background-color: var(--cms-background-colour) !important;
}

.cms-mobile-menu-toggle {
  background-color: var(--cms-background-colour--light) !important;

  span {
    background-color: var(--cms-text-colour);
  }
}

.cms-preview-states {
  .switch {
    background: none !important;
  }

  .state-name {
    line-height: 22px !important;
    background-color: var(--cms-background-colour) !important;
    border-top: 1px solid var(--cms-border-colour) !important;
    border-bottom: 1px solid var(--cms-border-colour) !important;

    &.first {
      border-left: 1px solid var(--cms-border-colour) !important;
      border-radius: 5px 0 0 5px !important;
    }

    &.last {
      border-right: 1px solid var(--cms-border-colour) !important;
      border-radius: 0 5px 5px 0 !important;
    }

    span {
      color: var(--cms-text-colour) !important;
    }

    &.active {
      background-color: var(--cms-accent-colour) !important;

      span {
        color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
      }
    }
  }
}

.bulk-actions {
  background-color: var(--cms-background-colour) !important;
  border-color: var(--cms-border-colour) !important;
}

.bulk-actions-counter {
  color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
}

.form-group,
.form__divider {
  &:after {
    border-color: var(--cms-border-colour) !important;
  }
}

.form__field-description,
.form__field-extra-label {
  color: var(--cms-text-colour--dynamic) !important;
}

.cms-add-form {
  .radio {

    &.selected,
    &:hover {
      background-color: var(--cms-background-colour--light) !important;
    }
  }
}

.toolbar {
  &--north,
  &--south {
    background-color: var(--cms-background-colour--dark) !important;
    color: var(--cms-text-colour) !important;
    border-color: var(--cms-border-colour) !important;
  }
}

a .jstree-pageicon,
.record-icon,
a .jstree-recordicon,
.cms-tree ul li a,
.ui-widget,
.ui-widget-content,
.btn-secondary {
  color: var(--cms-text-colour) !important;
}

.jstree-apple a {
  text-shadow: none !important;
}

.asset-dropzone {
  &.uploadfield__dropzone {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
  }
}

.asset-dropzone {
  .gallery-item {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
  }

  .gallery-item__checkbox-label {
    &:before {
      background-color: var(--cms-background-colour--light) !important;
      border-color: var(--cms-border-colour) !important;
    }
  }

  .gallery-item--selected .gallery-item__checkbox-label {
    &:before {
      color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
      background-color: var(--cms-accent-colour) !important;
    }
  }
}

.gallery-item__thumbnail {
  &:not([style]) {
    background-color: transparent !important;
    opacity: .75 !important;
  }
}

.gallery__sort {
  .chosen-single {
    >span {
      &:before {
        color: var(--cms-text-colour);
      }
    }
  }
}

.table {
  tbody {
    background-color: var(--cms-background-colour) !important;

    tr {
      background-color: transparent !important;

      &:hover {
        background-color: var(--cms-background-colour--dynamic) !important;
      }
    }

    +tbody {
      border-color: var(--cms-border-colour) !important;
    }

    td,
    th button {
      &:hover {
        background-color: var(--cms-background-colour--dynamic) !important;
      }
    }
  }

  thead {
    th button {
      &:hover {
        background-color: var(--cms-background-colour--dynamic) !important;
      }
    }
  }


  td,
  th {
    color: var(--cms-text-colour) !important;
    border-color: var(--cms-border-colour) !important;
    background-color: transparent !important;

    button {
      color: inherit !important;
      background-color: inherit !important;
    }
  }
}

.grid-field__icon-action {
  &:focus,
  &:active,
  &:focus-visible,
  &:hover {
    background-color: transparent !important;

    &:before {
      color: var(--cms-text-colour) !important;
    }
  }
}

.gallery__table .footer-container,
.gallery__table .footer-container:hover {
  background-color: var(--cms-background-colour) !important;
}

.griddle-page {
  select {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
    color: var(--cms-text-colour) !important;
  }
}

.editor {
  border-color: var(--cms-border-colour) !important;
  background-color: var(--cms-background-colour) !important;
}

.ui-tabs-anchor {
  &:after {
    color: var(--cms-text-colour) !important;
  }
}

.cms-panel {
  .cms-panel-toggle {

    .toggle-collapse,
    .toggle-expand {
      border-radius: 5px;

      &:hover {
        background-color: var(--cms-background-colour--light) !important;
      }

      span {
        color: var(--cms-text-colour) !important;
      }
    }
  }
}

.cms-panel-content-collapsed {
  background-color: var(--cms-background-colour) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.cms-preview {
  border-color: var(--cms-border-colour) !important;
}

.ss-gridfield-items {
  a {
    .item {
      color: var(--cms-link-colour) !important;
    }
  }
}

.uploadfield-item {
  background-color: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-border-colour) !important;
}

.mce-panel {
  background-color: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-border-colour) !important;
}

.mce-btn-group {
  border-color: var(--cms-border-colour) !important;
}

.mce-txt,
.mce-title,
.mce-path-item,
.mce-divider {
  color: var(--cms-text-colour) !important;
}

.mce-menu-item {

  &:hover,
  &:focus,
  &.mcs-selected,
  &.mce-selected {
    background-color: var(--cms-background-colour--dark) !important;
  }

  .mce-text,
  .mce-ico {
    color: var(--cms-text-colour);
  }

  .mce-caret {
    border-top-color: transparent !important;
    border-left-color: var(--cms-text-colour) !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

.mce-menu-item-sep {
  background: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-background-colour--dark) !important;
}

.mce-caret {
  border-top-color: var(--cms-text-colour) !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.mce-btn {
  background-color: transparent !important;
  border-color: transparent !important;

  &.mce-active {
    background-color: var(--cms-background-colour--light) !important;
    border-color: var(--cms-border-colour) !important;
  }

  i {
    color: var(--cms-text-colour) !important;
    text-shadow: none !important;
  }
}

.mce-menu-item {
  .mce-text,
  .mce-ico {
    color: var(--cms-text-colour) !important;
  }
}

.mce-tinymce iframe {
  background-color: #ffffff;
}

.close {
  &:before {
    color: var(--cms-text-colour) !important;
    text-shadow: none !important;
  }
}

.btn-toolbar .ui-tabs-anchor.active {
  background-color: var(--cms-background-colour--light) !important;
}

.modal-content,
.modal-header,
.modal-footer {
  background-color: var(--cms-background-colour) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.modal-header {
  button {
    &:before {
      color: var(--cms-text-colour) !important;
      text-shadow: none !important;
    }
  }
}

.ui-dialog-content {
  background-color: var(--cms-background-colour) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.ui-menu {
  background-image: none !important;
  background-color: var(--cms-background-colour--light) !important;
  border: 1px solid var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
  padding: 5px !important;

  li {
    display: block;

    &:not(:last-child) {
      margin-bottom: 5px !important;
    }

    > * {
      background-image: none !important;
      color: var(--cms-text-colour) !important;

      &.ui-state-focus,
      &.ui-state-active {
        background-image: none !important;
        background-color: var(--cms-accent-colour) !important;
        color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
        border-color: transparent !important;
      }
    }
  }
}

.popover-actions-simulate,
.search-box__enter,
.search-form__wrapper {
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
  overflow: hidden;
}

.message,
.alert {
  position: relative;
  z-index: 2;
  background-color: var(--cms-background-colour--dynamic) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.message.warning,
.message.notice,
.alert.alert-danger,
.alert.error,
.alert.alert-success {
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    mix-blend-mode: overlay;
    border-radius: inherit;
  }
}

.message {
  &.warning {
    &:before {
      background-color: var(--warning);
    }
  }

  &.notice {
    &:before {
      background-color: var(--teal);
    }
  }
}

.alert {
  &.alert-danger,
  &.error {
    &:before {
      background-color: var(--danger);
    }
  }
}

.alert.alert-success {
  &:before {
    background-color: var(--teal);
  }
}

.form__field-holder {
  .alert {
    margin-top: 10px !important;
  }
}

.ui-widget-content {
  background-image: none!important;
}

.cms-content-tools {
  box-shadow: 1px 0 0 0 var(--cms-border-colour) !important;
}

.editor__thumbnail {
  border-top: 1px solid var(--cms-border-colour) !important;
  border-bottom: 1px solid var(--cms-border-colour) !important;
}

.ss-toggle .ui-accordion-header.ui-state-default {
  background-color: var(--cms-background-colour) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;

  a {
    color: inherit !important;
  }
}

.ui-accordion-content {
  background-color: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.cms .gridfield-icon.published i {
  color: var(--cms-accent-colour) !important;
}
