.mce-panel {
  @media (prefers-color-scheme: light) {
    background-color: var(--cms-background-colour--dark) !important;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--cms-background-colour--light) !important;
  }
}

body {
  &[data-darkmode="on"] {
    .mce-panel {
      background-color: var(--cms-background-colour--light) !important;
    }
  }

  &[data-darkmode="off"] {
    .mce-panel {
      background-color: var(--cms-background-colour--dark) !important;
    }
  }
}