input {
  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="number"],
  &[type="date"],
  &[type="url"],
  &[type="search"],
  &[type="datetime-local"] {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
    color: var(--cms-text-colour) !important;
    box-shadow: none !important;
    border-radius: 5px !important;
  
    &:focus {
      border-color: var(--cms-border-colour) !important;
    }
  }
}

input[type="search"] {
  &,
  &:focus {
    border-color: transparent !important;
  }
}

textarea,
select,
.form-control-static.readonly,
.treedropdownfield {
  background-color: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
}

.focuspoint.field .form__field-holder {
  background-color: transparent !important;
}

.focuspoint.field {
  background-color: transparent !important;
  border-color: var(--cms-border-colour) !important;
}

.focuspoint-picker__gradient {
  background: none!important;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: radial-gradient(circle 80px at center center, rgba(0,0,0,0) 33%, var(--cms-background-colour--dark));
  }
}

.focuspoint-picker__overlay {
  box-shadow: inset 0 0 0 1px var(--cms-border-colour)!important;
}

textarea {
  min-height: 50px !important;
}

[data-name="SilverStripe-CMS-Model-SiteTree"] .col-FoundHide input,
[data-name="SilverStripe-CMS-Model-SiteTree"] .col-action_SetOrderFoundHide input {
  -webkit-appearance: auto!important;
}

.uploadfield-item__complete-icon {
  &:after {
    color: var(--cms-accent-colour)!important;
  }
}

.uploadfield__add-button,
.uploadfield__upload-button {
  &,
  &:hover {
    color: var(--cms-link-colour)!important;
  }
}

.sortable-item {
  border-color: var(--cms-border-colour)!important;
}

.description,
.form__field-description {
  opacity: .7;
  color: var(--cms-text-colour)!important;
}

.field input.text,
.field select,
.field textarea,
.form-control {
  &::-webkit-input-placeholder {
    opacity: .5!important;
    color: var(--cms-text-colour)!important;
  }

  &:-moz-placeholder {
    opacity: .5!important;
    color: var(--cms-text-colour)!important;
  }

  &::-moz-placeholder {
    opacity: .5!important;
    color: var(--cms-text-colour)!important;
  }

  &:-ms-input-placeholder {
    opacity: .5!important;
    color: var(--cms-text-colour)!important;
  }
}

#Form_fileSelectForm_FileSpecs {
  display: inline;
}

.form__field-holder input.readonly,
.form__field-holder p.readonly,
.form__field-holder span.readonly,
.readonly .form__field-holder > div {
  background-color: var(--cms-border-colour)!important;
  border-color: var(--cms-border-colour)!important;
}

.editor__specs,
.uploadfield-item__specs {
  display: inline;
  opacity: .7;
  color: var(--cms-text-colour)!important;
}