.URL-link,
.showOnClick a,
.uploadfield__upload-button,
.uploadfield__add-button,
label a,
p a,
a[target="_blank"],
a:not([class]) {
  color: var(--cms-link-colour)!important;
}

.cms-menu__list li a {
  color: var(--cms-text-colour)!important;
}