.ss-loading-screen {
  background-color: var(--cms-background-colour);
}

.cms-content-loading-spinner {
  .spinner {
    background-color: var(--cms-background-colour--dark) !important;
  }
}

.ss-loading-screen__logo {
  path {
    fill: var(--cms-accent-colour);
    stroke: var(--cms-accent-colour);
  }
}

.ss-loading-screen__text {
  color: var(--cms-accent-colour);

  svg {
    circle {
      fill: var(--cms-accent-colour);
    }
  }
}

.cms-content-loading-spinner .spinner__animation__fill {
  stroke: var(--cms-accent-colour);
}
