.cms-tree {
  ul {
    li {
      a {
        background: none!important;
        border-radius: 3px;
        overflow: hidden;
        transition:
          background-color .2s ease,
          box-shadow .2s ease;

        &.jstree-hovered {
          box-shadow: inset 0 0 0 100px var(--cms-background-colour--dark);
        }
      }
    }
  }
}

#vakata-contextmenu {
  background: var(--cms-background-colour--dark) !important;
  border-color: var(--cms-border-colour) !important;
  color: var(--cms-text-colour) !important;
  box-shadow: none!important;

  &:before {
    border-color: var(--cms-background-colour--dark) transparent !important;
  }

  &:after {
    border-color: var(--cms-border-colour) transparent !important;
  }

  a {
    color: inherit!important;
    background: var(--cms-background-colour--dark) !important;

    &:hover {
      background: var(--cms-background-colour--light) !important;
    }
  }

  ul {
    box-shadow: none!important;
    border-color: var(--cms-border-colour) !important;
    background: var(--cms-background-colour--dark) !important;
  }
}

.cms-tree.jstree span.badge.status-modified,
.jstree .status-modified>.jstree-clicked,
.jstree .status-modified>.jstree-hovered,
.cms-tree.jstree span.badge.status-addedtodraft,
.jstree .status-addedtodraft>.jstree-clicked,
.jstree .status-addedtodraft>.jstree-hovered {
  background-color: var(--cms-background-colour--dark);
}

.treedropdownfield {
  &__input {
    opacity: 0 !important;
    ;
  }
}
