.mce-container {
  &.mce-inline-toolbar {
    background-color: var(--cms-background-colour--dark);
    border-radius: 5px;

    &.mce-arrow-up {
      .mce-container-body {
        &:before {
          border-top-color: transparent;
        }

        &:after {
          border-bottom-color: var(--cms-background-colour);
        }
      }
    }

    &.mce-arrow-down {
      .mce-container-body {
        &:before {
          border-bottom-color: transparent;
        }

        &:after {
          border-top-color: var(--cms-background-colour);
        }
      }
    }
  }

  .mce-container-body {
    background-color: transparent !important;
  }
}

.mce-menu-item-normal.mce-active {
  background-color: var(--cms-background-colour--light)!important;
}