.tox-tinymce {
  color: var(--cms-text-colour)!important;
  border-color: var(--cms-border-colour)!important;
}

.tox-toolbar,
.tox .tox-toolbar-overlord,
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  color: var(--cms-text-colour)!important;
  border-color: var(--cms-border-colour)!important;
  background-color: var(--cms-background-light)!important;
}

.tox .tox-tbtn {
  border: 0!important;
  color: var(--cms-text-colour)!important;
  background-color: var(--cms-background-light)!important;

  &.tox-tbtn--enabled,
  &:hover,
  &:focus,
  &:active {
    color: var(--cms-accent-text-colour, var(--cms-background-colour--dark))!important;
    background-color: var(--cms-accent-colour)!important;
  }

  svg {
    fill: currentColor!important;
  }
}

.tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
  border-color: var(--cms-border-colour)!important;
}

.tox .tox-collection__item-label {
  line-height: 1!important;

  div[style] {
    font-size: 14px!important;
  }
}

.tox-menu {
  border-color: var(--cms-border-colour)!important;
  background-color: var(--cms-background-colour--light)!important;
}

.tox-collection__item {
  * {
    border: 0!important;
    background-color: transparent!important;
    color: var(--cms-text-colour)!important;
  }

  &--active {
    background-color: var(--cms-background-colour--dark)!important;

    * {
      color: var(--cms-text-colour) !important;
    }
  }

  &--enabled {
    background-color: var(--cms-accent-colour)!important;

    * {
      color: var(--cms-accent-text-colour, var(--cms-background-colour--dark))!important;
    }
  }
}

.tox-collection__item-checkmark svg {
  fill: var(--cms-accent-text-colour)!important;
}

.tox-statusbar {
  border-color: var(--cms-border-colour)!important;
  background-color: var(--cms-background-colour--light)!important;

  * {
    color: var(--cms-text-colour)!important;
    border-color: var(--cms-border-colour) !important;
  }
}

.tox .tox-statusbar__resize-handle svg {
  fill: var(--cms-text-colour)!important;
}

.tox-dialog {
  &,
  &__header,
  &__footer {
    color: var(--cms-text-colour)!important;
    background-color: var(--cms-background-colour--light)!important;
  }

  .tox-button {
    border: 0!important;
    color: var(--cms-accent-text-colour, var(--cms-background-colour--dark))!important;
    background-color: var(--cms-accent-colour)!important;

    &--secondary {
      background-color: var(--cms-text-colour)!important;
    }
  }
}

.mce-container {
  &.mce-inline-toolbar {
    background-color: var(--cms-background-colour--dark);
    border-radius: 5px;

    &.mce-arrow-up {
      .mce-container-body {
        &:before {
          border-top-color: transparent;
        }

        &:after {
          border-bottom-color: var(--cms-background-colour);
        }
      }
    }

    &.mce-arrow-down {
      .mce-container-body {
        &:before {
          border-bottom-color: transparent;
        }

        &:after {
          border-top-color: var(--cms-background-colour);
        }
      }
    }
  }

  .mce-container-body {
    background-color: transparent !important;
  }
}

.mce-menu-item:hover,
.mce-menu-item.mce-selected,
.mce-menu-item:focus,
.mce-menu-item-normal.mce-active {
  background-color: var(--cms-background-colour--light)!important;
}
