.tox {
  .tox-pop {
    &:before,
    &:after {
      content: none!important;
    }

    &__dialog {
      border-color: var(--cms-border-colour)!important;
      background-color: var(--cms-background-colour--dynamic)!important;
    }
  }
}

.tox-dialog__body-content {
  color: var(--cms-text-colour)!important;
}

.htmleditor.white-background {
  iframe {
    background-color: #fff!important;
  }
}

.tox-dialog {
  &__body-nav-item {
    color: var(--cms-text-colour) !important;

    &--active {
      border-color: var(--cms-accent-colour) !important;
    }
  }
}

.tox-label {
  color: var(--cms-text-colour) !important;
}

.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) .tox-collection__item-caret svg {
  fill: var(--cms-accent-colour)!important;
}
