.ui-dialog {
  background: var(--cms-background-colour--dynamic) !important;
  border-color: var(--cms-border-colour) !important;
  max-height: 80vh;
  overflow: auto;
}

.ui-icon-closethick {
  transform: scale(.75);
}

.ui-dialog-titlebar-close {
  top: 5px!important;
  right: 5px!important;
  transform: none!important;
}

body {
  &[data-darkmode="on"] {
    .ui-dialog {
      .ui-resizable-handle {
        filter: invert(1);
      }
    }
  }

  &[data-darkmode="auto"] {
    @media(prefers-color-scheme: dark) {
      .ui-dialog {
        .ui-resizable-handle {
          filter: invert(1);
        }
      }
    }
  }
}
