.form__field-holder {
  .preview {
    background-color: transparent !important;
  }

  .readonly {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
  }

  label.readonly {
    background-color: transparent !important;
  }
}

.form__field-label {
  color: var(--cms-text-colour);
}

.uf-field-editor {
  .ss-gridfield-buttonrow-before {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
  }
}
