.form__field-holder {
  .preview {
    background-color: transparent !important;
  }

  .readonly {
    background-color: var(--cms-background-colour--dark) !important;
    border-color: var(--cms-border-colour) !important;
  }
}