$cms-background-colour: #f1f1f1;

:root {
  --cms-background-colour: #{$cms-background-colour};
  --cms-background-colour--dark: #{darken($cms-background-colour, 3%)};
  --cms-background-colour--light: #{lighten($cms-background-colour, 5%)};
  --cms-background-colour--dynamic: #{darken($cms-background-colour, 3%)};
  --cms-border-colour: #{darken($cms-background-colour, 20%)};
  --cms-link-colour: #036cd7;
  --cms-text-colour: #{grayscale(invert($cms-background-colour, 100%))};
  --cms-text-colour--light: #{lighten(grayscale(invert($cms-background-colour, 100%)), 5%)};
  --cms-text-colour--dark: #{darken(grayscale(invert($cms-background-colour, 100%)), 5%)};
  --cms-accent-colour: #005a92;
}